@charset "UTF-8";

#menu2 {
	background: -webkit-linear-gradient(90deg, #58215b 10%, #7b6b7c 90%);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(90deg, #58215b 10%, #7b6b7c 90%);
	/* FF3.6+ */
	background: -ms-linear-gradient(90deg, #58215b 10%, #7b6b7c 90%);
	/* IE10 */
	background: -o-linear-gradient(90deg, #58215b 10%, #7b6b7c 90%);
	/* Opera 11.10+ */
	background: linear-gradient(90deg, #58215b 10%, #7b6b7c 90%); /* W3C */
	font-family: 'Raleway', sans-serif;
}